<h2>Bienvenidos/as al II Encuentro AMA 2022</h2>

<p>
    AMA es una plataforma para diálogos, intercambios y alianzas entre artistas escénicos 
    y artistas visuales del Maule con programadores culturales de la región, Chile y el mundo.  
</p>
<p>
    Del 24 al 30 de marzo, celebramos la II edición de AMA Maule, 
    bajo la consigna #VincularParaCrear.
</p>
<p>
    ¡Estamos felices de que seas parte de nuestra red!
</p>
<p>
    Te invitamos a seguir conectado/a con nosotros, a través de www.amamaule.cl y de nuestras redes sociales. 
</p>

<p>
    Saluda cordialmente
</p>
<p>
    Equipo AMA - Vincular para Crear 2022
</p>