{% block content %}
<div style="background-color: #5711a5; padding: 20px;">    
    <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 10px;">
        <tr>
            <td>                
                <p style="font-size: 16px;">Estimado/a participante</u></p>
                <p style="font-size: 16px;">Tu reunión agendada ha sido confirmada. Agradecemos tu interés y participación en AMA-Encuentro de Artistas del Maule 2023.</u></p>
                <p style="font-size: 16px;">Detalles de reunión:</p>
                <p style="font-size: 16px;">PROPIETARIO: {{instance.owner.first_name}} {{instance.owner.last_name}}</p>                
                <p style="font-size: 16px;">INVITADO: {{instance.invited.first_name}} {{instance.invited.last_name}}</p>
                <p style="font-size: 16px;">{<span>HORARIO: {{instance.date_meeting}} </span></p>

                <p style="font-size: 16px;"><a href='https://amarondas.cl/profile'>IR A TU PERFIL(debes tener iniciada tu sesión)</a></p>                                
                <hr>
                <p style="font-size: 16px;">Saluda cordialmente</p>                
                <p style="font-size: 16px;"><a href='https://amarondas.cl/profile'>Equipo AMA-Vincular para Crear 2023</a></p>                
            </td>
        </tr>
    </table>
</div>
{% endblock %}

