{% block content %}
<div style="background-color: #5711a5; padding: 20px;">    
    <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 10px;">
        <tr>
            <td>                
                <p style="font-size: 16px;">Has recibido una invitación para una ronda de vinculación en el Encuentro AMA 2023.</u></p>
                <p style="font-size: 16px;">{{instance.owner.first_name}} {{instance.owner.last_name}} quiere coordinar un encuentro online contigo. Puedes escoger acceder o rechazar esta invitación.</p>
                <p style="font-size: 16px;">MENSAJE:</p>
                <p style="font-size: 16px;">{{instance.message}}</p>
                <p style="font-size: 16px;">FECHA DE REUNIÓN: {{instance.date_meeting}}</p>                                
                <hr>
                <p style="font-size: 16px;"><a href='https://amarondas.cl/profile'>IR A TU PERFIL</a></p>                
            </td>
        </tr>
    </table>
</div>
{% endblock %}

