<p>Has recibido una invitación para una ronda de vinculación en el Encuentro AMA 2022.</p>

<p> {{instance.owner.first_name}} {{instance.owner.last_name}} quiere coordinar un encuentro online contigo. Puedes escoger acceder o rechazar esta invitación.</p>
<hr>
<p>MENSAJE:</p>
<p>{{instance.message}}</p>
<p>FECHA DE REUNIÓN: {{instance.date_meeting}}</p>
<hr>
<a href='https://amamaule.cl/profile'>IR A TU PERFIL</a>

<p style='margin-bottom:20px'>Adjuntamos los tutoriales del uso de las rondas de viculación:</p>
<a style='padding:10px; background-color: rgb(176, 93, 185); color:white;margin:10px' target='__blank' href='https://www.youtube.com/watch?v=CLukYak01Gs&feature=youtu.be'>TUTORIAL(VIDEO)</a>
<a style='padding:10px; background-color: rgb(176, 93, 185); color:white;margin:10px' target='__blank' href='http://localhost:3000/static/media/TUTORIAL%20RONDAS%20FINAL.9006f6b50f1689e59942.pdf'>TUTORIAL(PDF)</a>
