{% block content %}
<div style="background-color: #5711a5; padding: 20px;">    
    <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 10px;">
        <tr>
            <td>
                <h2 style="font-size: 24px; font-weight: 600; margin-bottom: 20px;">¡Bienvenido a la plataforma para Rondas de Vinculación de AMA 2023!</h2>
                <p style="font-size: 16px;">Estimado/a participante: <u>{{ user.first_name }} {{ user.last_name }}</u></p>
                <p style="font-size: 16px;">¡Tu usuario ha sido registrado con éxito! <br/>Sigue llenando tu perfil para que puedas agendar tus Rondas de Vinculación los días 18-19-20 de abril. </p>                
                <p style="font-size: 16px;">Agradecemos tu interés y participación en AMA-Encuentro de Artistas del Maule 2023.</p>
                <p style="font-size: 16px;">Pronto te estaremos enviando el programa de actividades y el recordatorio de tu agenda</p>
                <p style="font-size: 16px;">Saluda cordialmente</p>
                <p style="font-size: 16px;">Equipo AMA - Vincular para Crear 2023</p>                
            </td>
        </tr>
    </table>
</div>
{% endblock %}