{% block content %}
<div style="background-color: #5711a5; padding: 20px;">    
    <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 10px;">
        <tr>
            <td>
                <h2 style="font-size: 24px; font-weight: 600; margin-bottom: 20px;">¡Bienvenido a la plataforma para Rondas de Vinculación de AMA 2023!</h2>
                <p style="font-size: 16px;">Estimado/a participante: <u>{{ user.first_name }} {{ user.last_name }}</u></p>
                <p style="font-size: 16px;">¡Tu usuario ha sido registrado con éxito!</p>
                <p style="font-size: 16px;">Ya puedes agendar tu Rondas de Vinculación y Pitch en <a href="https://amarondas.cl" target="__blank">www.amarondas.cl</a></p>                
                <p style="font-size: 16px;">Agradecemos tu interés y participación en AMA-Encuentro de Artistas del Maule 2023.</p>
                <p style="font-size: 16px;">Te sugerimos agendar tu Ronda presencial en 24 horas.</p>
                <p style="font-size: 16px;">Revisa el programa en la Pestaña "Programa 2023" en <a href="https://amarondas.cl" target="__blank">www.amarondas.cl</a> </p>                
                <p style="font-size: 16px;">Saluda cordialmente</p>
                <p style="font-size: 16px;">Equipo AMA - Vincular para Crear 2023</p>                
            </td>
        </tr>
    </table>
</div>
{% endblock %}